.nav {
    grid-area: n;
    background-color: #80ffff;
}

.item {
    font-size: 20px;
}

.item a {
    color: #808080;
    text-decoration: none;
}

.item .activeLink {
    color: red;
    font-weight: 800;
}